body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table, th, td {
  border: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

.main-nav {
  color: black;
}
